[user]
	name = Surasith
	email = surasithpc@gmail.com
[core]
	excludesfile = /Users/surasith/.gitignore_global
	ignorecase = false
[commit]
	template = /Users/surasith/.stCommitMsg
# [url "ssh://git@github.com/"]
#   	insteadOf = https://github.com/
[push]
	autoSetupRemote = true
[alias]
    # Common shortcuts
	st = status
	co = checkout
	br = branch
	ci = commit
	cm = commit -m
	ca = commit --amend
	cane = commit --amend --no-edit

	# Push and pull
	pb = push origin HEAD
	pl = pull origin HEAD
	pp = pull --rebase origin HEAD

	# Branch operations
	fetch-f = !git fetch -p && git checkout master && git pull
	clean-m = !git branch --merged | grep -v '\\*\\|master\\|main' | xargs -n 1 git branch -d
	cleanup = !git fetch -p && git checkout master && git pull && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D

	# Remove files from history
	rm-file = rm --cached $1
	rm-dir = rm -r --cached $1
	rm-hist = !git filter-branch --force --index-filter 'git rm --cached --ignore-unmatch $1' HEAD
	reset-rm-hist = !git reset --hard ORIG_HEAD

	# Logging
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = log --pretty=format:'%C(yellow)%h %Cred%ad %Cblue%an%Cgreen%d %Creset%s' --date=short
	last = log -1 HEAD --stat

	# Diff
	df = diff
	dfs = diff --staged
	dfc = diff --cached

	# Stash
	sl = stash list
	sa = stash apply
	ss = stash save

	# Undo
	unstage = reset HEAD --
	undo = reset --soft HEAD^

	# Repository info
	size = !git ls-tree -r -l HEAD | awk '{sum += $4} END {print sum, \"bytes\"}'
	size-all = !du -h -d 1 | sort -hr

	# Show contributors
	contributors = shortlog -sn
